

<% @messages.each do |message| %>
<!-- <div><%= gravatar_for message.speaker, size: 100 %>
<h3>Speaker Name: <%= message.speaker.name %></h3>
</div> -->
  <div class="col-md-4">
    <div class="message">
      <h2 class="message-title"> <%= message.title %> </h2>
      <%= link_to "View Message", message_path(message), class: "btn btn-default" %>
    </div>

  </div>
<% end %>

