<div class="container">

<ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#sectionA">All Speakers</a></li>
        <li><a data-toggle="tab" href="#sectionB">All Messages</a></li>

</ul>
    <div class="tab-content">
        <div id="sectionA" class="tab-pane fade in active">
            <h3>Speakers</h3>
              <% @speakers.each do |speaker| %>
              <p><%= link_to speaker.name, speaker_path(speaker) %></p>

            <% end %>

        </div>
        <div id="sectionB" class="tab-pane fade">
            <h3>Messages</h3>
            <% @messages.each do |message| %>
            <p><%= link_to message.title, message_path(message) %></p>
            <% end %>
        </div>


    </div>
</div>

