<div class="container">

<ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#sectionA">All Speakers</a></li>
        <li><a data-toggle="tab" href="#sectionB">All Messages</a></li>

</ul>
    <div class="tab-content">
        <div id="sectionA" class="tab-pane fade in active">
<hr/>

              <% @speakers.each do |speaker| %>
              <div><%= gravatar_for speaker, size: 100 %>
            <h3><%= link_to speaker.name, speaker_path(speaker) %></h3>
            </div>


            <% end %>

        </div>
        <div id="sectionB" class="tab-pane fade">
<hr/>
<p><%= render partial: "messages/index" %></p>




        </div>


    </div>
</div>

