<h2>Latest Messages</h2>


<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#">Latest Speakers</a>
  <%= @speakers %>
  </li>

  <li role="presentation"><a href="#">Latest Sermons</a>

    <% @messages.each do |message| %>
  <div class="col-md-10">
    <div >
      <h2 >
      <%= link_to message.title, message_path(message) %>
      </h2>
    </div>

  </div>
<% end %>
  </li>

</ul>




<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="..." alt="...">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="..." alt="...">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
</div>


